{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}
{% block body %}    
    <h1>Список курсов</h1>
        {% for course in courses %}

        <div class="card" style="width: 18vw; height: 25vh; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-primary"> Смотреть </a>
            </div>
        </div>
        {% else %}
                <p>Курсов не найдено</p>
        {% endfor %}
    <br>
    <a href="{{ path('app_course_new') }}">
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
            Создать новый курс
        </button>
    </a>
{% endblock %}
