{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Symbolic_code</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.symbolicCode }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %} #}
        </tbody>
    </table>
    <p>{{ dump(courses) }} </p>
    {# <a href="{{ path('app_course_new') }}">Create new</a> #}
{% endblock %}
