{% extends 'base.html.twig' %}

{% block title %}Course {% endblock %}

{% block body %}

    <h1> Название:  {{ course.title }} </h1>
    <p> Описание: {{ course.description }} </p>
    <h1>Список уроков</h1>
    <ul class="list-group">
        {% for lesson in course.lessons %}
          <li class="list-group-item">Урок № {{ lesson.number }}: <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">  {{ lesson.title }} </a> </li>
        {% else %}
                <p>Уроков не найдено</p>
        {% endfor %}  
    </ul>  

    <div class="row">
    <div class="col-md-3">
        <a href="{{ path('app_course_index') }}">
            <button class="btn btn-primary w-100 btn-block">Вернуться к списку</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="{{ path('app_course_edit', {'id': course.id}) }}">
            <button class="btn btn-primary w-100 btn-block">Редактировать</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="{{ path('lesson_new', {'course_id': course.id}) }}">
            <button class="btn btn-primary w-100 btn-block">Добавить урок</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="{{ path('app_course_delete', {'id': course.id}) }}">
            <button class="btn btn-primary w-100 btn-block">Удалить</button>
        </a>
    </div>
</div>

{% endblock %}
